/* .container{ 
    display: flex; 
    align-items: center; 
    align-content: center; 
    /*justify-content: center;*/ 
    /* border: black 3px solid; 
    height: 300px; 
    /*flex-wrap: nowrap; } */
    /* @media only screen and (max-width: 800px)
    { .container 
        {     
        flex-direction: column;     
        background-color: pink; } }  */


/* cambio tamaño fuente */
.top-line {
    font-size: 16px;
}

/* parametros para el conteneedor principal */

.container {
    display: flex;
    flex-direction: row;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* flex-wrap: wrap; */
    background-color: #E81C1C;
    justify-content: space-between;
    height: 100px;
    width: 100%;  
}
@media only screen and (max-width: 800px)
{ .container 
    {     
    flex-direction: column; 
    justify-content: space-around;
    background-color: pink; } }

/* parametros para la parte izquiera del nav */

.izquierda {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 36px;
    margin-top: 0px;
    width: 650px;
}


/* parametros internos del lado izquierdo del nabar */

.iconoYtelefono {
    display: flex;
    flex-wrap: nowrap;
    margin-left: -30px;

}

.diahora {
    margin-top: -2px;
    margin-right: 0px;
    margin-left: 80px;
    padding-left: 30px;

}

.horarios {
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    height: 77px;
    width: 800px;

}

.abiertos{
    margin-left: 0px;
    margin-right: 0px;
}


/* parametros para la parte derecha del nav */

.derecha {
    width: 740px;
    height: 95px;
}

@media only screen and (max-width: 800px)

{ .derecha 
    {     
    flex-direction: column; 
    justify-content: space-around;
    background-color: pink; } }
/* item desplegable */

.barra {
    display: flex;
    justify-content: flex-end;
}

.barra ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 3px;
}

.barra ul a {
    display: block;
    text-decoration: none;
    font-weight: 400;
    padding: 9px;
}

.barra ul li {
    position: relative;
    justify-content: space-around;
    float: left;
    margin: 15px 0 0 3px;
    padding-right: 0px;
    padding:0;
    width: 150px;
    text-align: center;
    border-right: black solid 1px;
}

.barra ul li ul li {
    border-right: 5px;
    margin-right: -8px;
    
}
.barra ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #E81C1C;
    border: black solid 1px;
    padding: 0;
}

/* items del menu desplegable */

.barra ul ul li {
    float: none;
    width: 150px
}

/* enlaces de los items del menu desplegable */

.barra ul ul a {
    line-height: 120%;
    padding: 10px 15px;
}

/* items del menu desplegable al pasar el ratón */

.barra ul li:hover>ul {
    display: block;
}

/* estilos para el menu de busqueda */
.abajo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}
@media only screen and (max-width: 800px)
{ .abajo 
    {     
    flex-direction: column; 
    justify-content: space-around;
    background-color: pink; } }

.abajo h1 {
    font-size: 27px;
}

.carrito {
    display: flex;
    justify-content: space-between;
    width: 155px;
}

.busqueda {
    margin-top: 50px;
    margin-bottom: 40px;
    height: 70px;
    width: 480px;
    padding-top: 30px;
    padding-left: 30px;
}

.input {
  font-size: 25px;  
}

/* estilos para el boton de busqueda */
.boton_busqueda {
    font-size: 25px; 
    background-color: #E81C1C;
    border-radius: 10px;
    width: 130px;
    height: 40px;
    box-shadow: grey 10px;
}

/* estilos para el navbar intermedio */
.nav_intermedio{
    background-color: #2A1717;
    font-size: 30px;
    color: white;
    height: 100px;
    padding-top: 12px;
}
@media only screen and (max-width: 800px)
{ .nav_intermedio 
    {     
    flex-direction: column; 
    justify-content: space-around;
    background-color: pink; } }

.marcas{  
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-right: 35px;
}

.sec_img_portada {
    display: flex;
    justify-content: space-around;
}
@media only screen and (max-width: 800px)
{ .sec_img_portada 
    {     
    flex-direction: column; 
    justify-content: space-around;
    background-color: pink; } }

.img_portada {
    padding-left: 200px;
    height: 800px;
    width: 1500px;
}

.texto_principal {
    width: 600px;
    font-size: 50px;
    padding-top: 180px;
    padding-left: 100px;
    font-family: 'Amatic SC' ;
}

.imagenreducida{
    display: flex;
    image-resolution: 30%;
    width: 10px;
    height: 500px;
}

.separador {
    background-color: #2A1717;
    height: 180px;
}

.categorias {
    margin: 150px 0 150px 0;
    display: flex;
    justify-content: space-around;
}
@media only screen and (max-width: 800px)
{ .categorias 
    {     
    flex-direction: column; 
    justify-content: space-around;
    background-color: pink; } }

.img_category{
    height: auto;
    width: 400px;
    border-radius: 50%;
    box-shadow: 5px 5px 0px grey;
    border: 1px solid black;
}

.lanzamientos {
    height: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media only screen and (max-width: 800px)
{ .lanzamientos 
    {     
    flex-direction: column; 
    justify-content: space-around;
    background-color: pink; } }

.lanzamiento {
    font-size: 60px;
    text-align: center;
    padding: 0 200px 0 200px;
}

.texto_lanzamiento {
    font-size: 40px;
    text-align: center;
    padding: 0 200px 0 200px;
}

.mas_vendidos {
    display: flex;
    justify-content: space-around;
}
@media only screen and (max-width: 800px)
{ .mas_vendidos 
    {     
    flex-direction: column; 
    justify-content: space-around;
    background-color: pink; } }

.img_mas_vendido  {
    height: auto;
    width: 400px;
    border-radius: 10px;
    border: 2px solid grey;
}

.mas_vendido {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-family: 'Amatic SC' ;
    text-align: center;
    align-items: center;
}

.boton {
    font-size: 25px; 
    background-color: #E81C1C;
    border-radius: 10px;
    width: 230px;
    height: 40px;
    box-shadow: grey 10px;
    margin-bottom: 50px;
}