/* * {
    margin:0;
    padding: 0;
} */

/* cambio tamaño fuente */
.top-line {
    font-size: 16px;
}

/* parametros para el conteneedor principal */

.container {
    display: flex;
    flex-direction: row;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*flex-wrap: wrap;*/
    background-color: #E81C1C;
    justify-content: space-between;
    height: 100px;
    width: 100%;
}

/* parametros para la parte izquiera del nav */

.izquierda {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 90px;
    width: 495px;
}

/* parametros internos del lado izquierdo del nabar */

.iconoYtelefono {
    margin-left: 10px;
}

.diahora {
    margin-left: 10px;
}

.horarios {
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    height: 90px;
    width: 550px;
}

/* parametros para la parte derecha del nav */

.derecha {
    width: 740px;
    height: 95px;
}

/* item desplegable */

.barra {
    display: flex;
    justify-content: center;
}

.barra ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0px;
}

.barra ul a {
    display: block;
    text-decoration: none;
    font-weight: 400;
    padding: 9px;
}

.barra ul li {
    position: relative;
    justify-content: space-around;
    float: left;
    margin-right: 45px;
    margin-left: 45px;
    padding-right: 45px;
    /* padding:0; */
    border-right: black solid;
}

.barra ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #eee;
    padding: 0;
}

/* items del menu desplegable */

.barra ul ul li {
    float: none;
    width: 150px
}

/* enlaces de los items del menu desplegable */

.barra ul ul a {
    line-height: 120%;
    padding: 10px 15px;
}

/* items del menu desplegable al pasar el ratón */

.barra ul li:hover>ul {
    display: block;
}

/* estilos para el menu de busqueda */
.abajo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

.abajo h1 {
    font-size: 27px;
}

.carrito {
    display: flex;
    justify-content: space-between;
    width: 155px;
}

.busqueda {
    margin-top: 50px;
    margin-bottom: 40px;
    height: 70px;
    width: 480px;
    padding-top: 30px;
    padding-left: 30px;
}

.input {
  font-size: 25px;  
}

/* estilos para el boton de busqueda */
.boton_busqueda {
    font-size: 25px; 
    background-color: #E81C1C;
    border-radius: 10px;
    width: 130px;
    height: 40px;
    box-shadow: grey 10px;
}

/* estilos para el navbar intermedio */
.nav_intermedio{
    background-color: #2A1717;
    font-size: 30px;
    color: white;
    height: 100px;
    padding-top: 12px;
}

.marcas{  
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-right: 35px;
}

.sec_img_portada {
    display: flex;
    justify-content: space-around;
}

.img_portada {
    padding-left: 200px;
    height: 800px;
    width: 1500px;
}

.texto_principal {
    width: 600px;
    font-size: 80px;
    padding-top: 180px;
    padding-left: 100px;
    font-family: 'Amatic SC' ;
}

.separador {
    background-color: #2A1717;
    height: 180px;
}

.categorias {
    margin: 150px 0 150px 0;
    display: flex;
    justify-content: space-around;
}

.img_tamano{
    height: auto;
    width: 400px;
    border-radius: 50%;
    box-shadow: 5px 5px 0px grey;
    border: 1px solid black;
}

.lanzamientos {
    height: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.lanzamiento {
    font-size: 60px;
    text-align: center;
    padding: 0 200px 0 200px;
}

.texto_lanzamiento {
    font-size: 40px;
    text-align: center;
    padding: 0 200px 0 200px;
}

.mas_vendidos {
    
}